.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  color: white;
}

.pink {
  background-color: $red2;
}

.content-one {
  position: absolute;
  top: 60%;
  left: 10%;
  right: 10%;
}

.content-two {
  position: absolute;
  top: 38%;
  left: 10%;
  right: 10%;
}

.content-three {
  margin-left: 10%;
  margin-right: 10%;
  h3 {
    margin-left: 0px;
    margin-bottom: 22px;
  }
}

.orange {
  background-color: $orange;
}

.blue {
  background-color: $blue;
  h3 {
    padding-bottom: 42px;
  }
}

.content-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background {
  position: relative;
  width: 100%;
}

.icons {
  position: relative;
}

.ampoule {
  position: absolute;
  bottom: -70px;
  left: -540px;
}

.icons-red {
  position: absolute;
  bottom: -70px;
  left: -525px;
}

.content-brain {
  position: absolute;
  right: 250px;
  top: 385px;
  img {
    width: 140px;
  }
}

