.banner-one {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  color: white;
}

.pink {
  background-color: $pink;
}

.fond {
  height: 100vh;
}

.banner-two {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  color: white;
}

.orange {
  background-color: $orange;
}

.blue {
  background-color: $blue;
}

.background {
  position: relative;
  width: 100%;
}
