.button {
  color: white;
  font-weight: normal;
  border: 2px solid white;
  border-radius: 10px;
  padding: 7px 30px;
  display: inline-block;
  opacity: 1;
  font-size: 28px;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}
