.button {
  color: white;
  font-weight: lighter;
  border: 1px solid white;
  border-radius: 6px;
  padding: 7px 30px;
  display: inline-block;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}
