.pagination {
position: fixed;
left: 40px;
top: 50%;
z-index: 10000;
transform: translateY(-50%);
}

.dot {
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #fff;
  opacity: 0.4;
  cursor: pointer;
  height: 16px;
  margin-bottom: 10px;
  position: relative;
  width: 16px;
  box-sizing: border-box;
  a {
    position: absolute;
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
  }
}

.active-dot, body.page-1 .pagination .dot:first-of-type, body.page-2 .pagination .dot:nth-of-type(2), body.page-3 .pagination .dot:nth-of-type(3), body.page-4 .pagination .dot:nth-of-type(4), body.page-5 .pagination .dot:nth-of-type(5) {
  border-radius: 50%;
  background: #fff !important;
  box-shadow: none;
  opacity: 1 !important;
  cursor: pointer;
  height: 16px;
  margin-bottom: 10px;
  position: relative;
  width: 16px;
  box-sizing: border-box;
}



