/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
}


body {
  color: white;
}

// body {
//   overflow: hidden;
// }

// .background {
//   position: relative;
//   min-width: 100%;
// }

h3 {
  font-size: 24px;
}

p {
  font-weight: lighter;
}
