/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  color: white;
}

// Wrappers
.wrapper-full-height {
  height: 100%;
}

.all-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pink {
  background-color: $pink;
}


.orange {
  background-color: $orange;
}

.blue {
  background-color: $blue;
}

@media(min-width: 720px) {
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 36px;
    margin-left: 10px;
  }
}

@media(max-width: 720px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
}

