/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  color: white;
}

// Paddings
.padded {
  padding-top: 5em;
}

// Wrappers
.wrapper-full-height {
  height: 100%;
}

.all-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pink {
  background-color: $pink;
}

h3 {
  font-size: 42px;
  margin-left: 10px;
}

.orange {
  background-color: $orange;
}

.blue {
  background-color: $blue;
}
