#primary-section {
  .banner {
    height: calc(100vh - 40px);
    h3 {
      width: 50%;
    }
    .brand img {
      width: 200px;
      height: 200px;
    }
  }

  .informations {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 18px;
      margin: 0;
    }
  }
}


