<ul id="menu" class="pagination-anchors">
  <li data-menuanchor="accueil">
    <a class="pagination-anchor-link" href="#accueil">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="presentation">
    <a class="pagination-anchor-link" href="#presentation">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="formation">
    <a class="pagination-anchor-link" href="#formation">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="mooc">
    <a class="pagination-anchor-link" href="#mooc">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="contact">
    <a class="pagination-anchor-link" href="#contact">
      <span class="dot"></span>
    </a>
  </li>
</ul>
