<ul id="menu" class="pagination-anchors">
  <li data-menuanchor="section-1">
    <a class="pagination-anchor-link" href="#section-1">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="section-2">
    <a class="pagination-anchor-link" href="#section-2">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="section-3">
    <a class="pagination-anchor-link" href="#section-3">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="section-4">
    <a class="pagination-anchor-link" href="#section-4">
      <span class="dot"></span>
    </a>
  </li>
  <li data-menuanchor="section-5">
    <a class="pagination-anchor-link" href="#section-5">
      <span class="dot"></span>
    </a>
  </li>
</ul>
