<div class="pagination">
  <div class="dot"><a href="#page1"></a></div>
  <div class="dot"><a href="#page2"></a></div>
  <div class="dot"><a href="#page3"></a></div>
  <div class="dot"><a href="#page4"></a></div>
  <div class="dot"><a href="#page5"></a></div>
</div>
