---
title: Laetsmind
---
<div id="fullpage">
  <section id="primary-section" class="section">
    <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path("homme.jpg") %>');">
      <div class="center brand"><%= image_tag "logo_laetsmind.png" %></div>
      <h3 class="text-center">Créateur de solutions pédagogiques</h3>
    </div>
    <div class="informations pink text-center">
      <p>Que faisons-nous plus précisément?</p>
    </div>
  </section>

  <section class="section">
    <div class="all-center wrapper-full-height pink">
      <p class="text-center">Nous accompagnons votre organisation dans la formation continue de ses membres à travers des outils numériques personnalisés.</p>
    </div>
  </section>

  <section class="section">
    <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path("femme.jpg") %>');">
      <h3 class="">En co-créant avec vous des formations selon vos besoins.</h3>
    </div>
  </section>

  <section class="section">
    <div class="all-center wrapper-full-height orange">
      <p>Et nous proposons également des MOOCS toute l'année.</p>
    </div>
  </section>

  <section class="section">
    <div class="all-center wrapper-full-height blue">
      <p>Un projet? Une question? Une envie?</p>
      <button>contactez-nous</button>
    </div>
  </section>
</div>
